[Unit]
Description=TriTown Pi Sender
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/pi_sender.py
Restart=always
RestartSec=10
StandardOutput=append:/home/pi/sender.log
StandardError=append:/home/pi/sender.log

[Install]
WantedBy=multi-user.target
